# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
ENV/

# Environment variables
.env
.env.*
*.env
backend/.env

# Node (if any)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker & Logs
*.log
mongo_data/

# OS & IDEs
.DS_Store
.idea/
.vscode/
*.swp
*.swo